lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
/.idea

npm-debug.log
/node_modules
/dump
/coverage
/public/**/*.md
/public/**/*.txt
/public/**/Makefile
/public/**/*LICENSE*
/public/**/*.less
/public/**/test/**
/public/**/.*
